## Extracción

In [27]:
# 🔧 Importar librerías necesarias
import pandas as pd
import requests
import numpy as np


# 🌐 URL de la API (archivo JSON alojado en GitHub)
url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json"

# 📥 Obtener los datos de la API
response = requests.get(url)
data = response.json()

# 🧾 Convertir a DataFrame
df = pd.DataFrame(data)

# 👀 Vista previa de los datos
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

## Transformación

In [28]:
# Explorar las columnas del dataset y verificar sus tipos de datos.
# Ver columnas disponibles
print("Columnas del dataset:")
print(df.columns.tolist())

#Consultar el diccionario para comprender mejor el significado de las variables.
# Tipos de datos por columna
print("\nTipos de datos:")
print(df.dtypes)

# Ver el diccionario dentro del notebook (opcional)
with open("TelecomX_diccionario.md", "r", encoding="utf-8") as file:
    print(file.read())

#Identificar las columnas más relevantes para el análisis de evasión.
# Revisión de un ejemplo completo para entender la estructura de columnas anidadas
df.iloc[0]

Columnas del dataset:
['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

Tipos de datos:
customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object
#### Diccionario de datos

- `customerID`: número de identificación único de cada cliente
- `Churn`: si el cliente dejó o no la empresa
- `gender`: género (masculino y femenino)
- `SeniorCitizen`: información sobre si un cliente tiene o no una edad igual o mayor a 65 años
- `Partner`: si el cliente tiene o no una pareja
- `Dependents`: si el cliente tiene o no dependientes
- `tenure`: meses de contrato del cliente
- `PhoneService`: suscripción al servicio telefónico
- `MultipleLines`: suscripción a más de una línea telefónica
- `InternetService`: suscripción a un proveedor de internet
- `OnlineSecurity`: suscripción adicional de seguridad en línea
- `OnlineBackup`: suscripción adicional de respaldo en línea
- `DeviceProtection`: suscripción adicional de protección del dispositivo
- `TechSupport`: suscripción adicional de soporte técnico, menor tiempo de espera
- `StreamingTV`: suscripción de televisión por cable
- `StreamingMovies`: suscripción de streaming de películas
- `Contract`: tipo de contrato
- `PaperlessBilling`: si el cliente prefiere recibir la factura en línea
- `PaymentMethod`: forma de pago
- `Charges.Monthly`: total de todos los servicios del cliente por mes
- `Charges.Total`: total gastado por el cliente

customerID                                           0002-ORFBO
Churn                                                        No
customer      {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
phone            {'PhoneService': 'Yes', 'MultipleLines': 'No'}
internet      {'InternetService': 'DSL', 'OnlineSecurity': '...
account       {'Contract': 'One year', 'PaperlessBilling': '...
Name: 0, dtype: object

## Comprobación de incoherencias

In [29]:
# 📌 Verificar valores nulos
print("Valores nulos por columna:")
print(df.isnull().sum())
print("\n")

# 📌 Verificar filas duplicadas
# Convertimos columnas con dicts a string
df_temp = df.copy()
for col in df_temp.columns:
    if df_temp[col].apply(lambda x: isinstance(x, dict)).any():
        df_temp[col] = df_temp[col].astype(str)

print("Cantidad de filas duplicadas:", df_temp.duplicated().sum())
print("\n")

# 📌 Verificar tipos únicos en columnas categóricas (seguro con dicts)
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"Valores únicos en '{col}':")
        
        # Evitar error si hay diccionarios en la columna
        if df[col].apply(lambda x: isinstance(x, dict)).any():
            print("⚠️ Contiene diccionarios, no se puede mostrar valores únicos directamente.")
        else:
            print(df[col].unique())
        
        print("—" * 50)

Valores nulos por columna:
customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64


Cantidad de filas duplicadas: 0


Valores únicos en 'customerID':
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
——————————————————————————————————————————————————
Valores únicos en 'Churn':
['No' 'Yes' '']
——————————————————————————————————————————————————
Valores únicos en 'customer':
⚠️ Contiene diccionarios, no se puede mostrar valores únicos directamente.
——————————————————————————————————————————————————
Valores únicos en 'phone':
⚠️ Contiene diccionarios, no se puede mostrar valores únicos directamente.
——————————————————————————————————————————————————
Valores únicos en 'internet':
⚠️ Contiene diccionarios, no se puede mostrar valores únicos directamente.
——————————————————————————————————————————————————
Valores únicos en 'account':
⚠️ Contiene diccionarios, no se puede mostrar valores únicos directamente.
——————————————————————————————————————————————————

## Manejo de inconsistencias

In [30]:
# Reemplazar valores vacíos en 'Churn' por NaN
df['Churn'] = df['Churn'].replace('', np.nan)

# Eliminar filas con 'Churn' faltante (opcional, si son pocas)
df = df.dropna(subset=['Churn'])

# Expandir columnas con diccionarios
customer_df = df['customer'].apply(pd.Series)
phone_df = df['phone'].apply(pd.Series)
internet_df = df['internet'].apply(pd.Series)
account_df = df['account'].apply(pd.Series)

# Combinar con el DataFrame original
df = pd.concat([df.drop(columns=['customer', 'phone', 'internet', 'account']),
                customer_df, phone_df, internet_df, account_df], axis=1)

# Comprobamos que ya no existan valores problemáticos
print(df.isnull().sum())
print(df.dtypes)

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges             0
dtype: int64
customerID          object
Churn               object
gender              object
SeniorCitizen        int64
Partner             object
Dependents          object
tenure               int64
PhoneService        object
MultipleLines       object
InternetService     object
OnlineSecurity      object
OnlineBackup        object
DeviceProtection    object
TechSupport         object
StreamingTV         object
StreamingMovies     object
Contract            object
PaperlessBilling    object
PaymentMethod       object
Charges             object
dtype: object

In [32]:
# Eliminar caracteres como '$' y ',' antes de convertir a número
df['Charges'] = df['Charges'].astype(str).str.replace(r'[^0-9.]', '', regex=True)

# Convertir a numérico (NaN si no se puede convertir)
df['Charges'] = pd.to_numeric(df['Charges'], errors='coerce')

# Eliminar filas con valores faltantes en 'Charges'
df = df.dropna(subset=['Charges'])

# Crear la columna 'Cuentas_Diarias' dividiendo entre 30
df['Cuentas_Diarias'] = df['Charges'] / 30

# Verificar los primeros valores para ambas columnas
print(df[['Charges', 'Cuentas_Diarias']].head())

# Mostrar los primeros 10 valores de la columna Charges
print(df['Charges'].head(10))

# Mostrar todos los valores únicos para verificar la conversión
print(df['Charges'].unique())

       Charges  Cuentas_Diarias
40   75.751929         2.525064
44   61.616110         2.053870
48   99.253532         3.308451
80   45.811470         1.527049
104  19.955800         0.665193
40     75.751929
44     61.616110
48     99.253532
80     45.811470
104    19.955800
144    79.247650
151    92.656733
188    50.225540
248    39.553730
290    99.754036
Name: Charges, dtype: float64
[ 75.751929  61.61611   99.253532  45.81147   19.9558    79.24765
  92.656733  50.22554   39.55373   99.754036  20.051036  45.32145
  83.55435  100.56029  100.352799  42.12962   25.9135    97.955867
  19.85252   98.05713   95.095    100.4715    99.04135   18.55689
  85.72067  102.251359  75.25242   89.13342  109.65953   20.351267
  19.41083  105.82998   39.11309   73.652    100.554304  20.054
  21.1741   110.755832 103.46603   56.05      19.152     19.019
  80.08      51.052066  86.755186  45.8581    73.853371  81.45912
  25.15553   97.555598  85.085     45.2492    76.6893    69.01108
  79.52665   48.93527   70.07      20.651057 111.67099   90.81951
  66.7579    44.044     46.046     73.073     25.15702   33.56
  20.05902   63.92635   85.3556   100.755985  19.8552    94.93848
  20.25208   89.61633   91.0531    70.074     79.32484   20.
  20.61093   53.453053  99.53762   49.049     20.8572    48.55201
  94.25669   19.75145  100.054834  19.65978   66.153199  20.05417
 109.553608  20.35122   56.32364   99.96137   29.1688    61.9
 108.557616  45.55597   19.9543    19.9666    34.0853    19.7
  60.5387    44.95431  103.16595   74.151387  20.25      64.4253
  90.053097  53.753196  59.451507  25.35      45.7198    19.5413
  99.5589    54.1889    86.61281  106.35487   70.9273   115.15825
  71.071     19.5272    76.95023   69.1435    20.01396   80.253439
  38.52763   67.453252  75.15013   55.055     54.25583   38.8603
  71.0914    53.653784  20.551252  54.653632  20.6515   104.05689
  24.61279   95.05129   18.856     20.02      24.851901  35.035
  20.9247    95.65164   49.45799   95.24563   51.051815  73.35
  51.61442   64.454528  97.456253  73.05163   25.651887  20.038
  90.6166    64.954546  88.94968   36.651315  25.75      90.91259
 105.57544   19.8563    89.84667   36.25374   52.55     103.956423
  80.75676   59.453157  82.651185  80.25846   24.91334   69.251554
  95.45812   79.01902   70.4281    65.12586   60.06      86.086
  20.4579    19.351033  70.7377    97.7341    65.6101    54.351647
 103.73467   94.753653  35.81782   19.8547   108.957875  87.24345
 112.956465 113.157856  73.455329 105.157555 104.53778  104.457459
  19.95257  100.752095  36.51032   25.11725   24.024     80.85
  68.753808  68.454014  19.751567  89.32823   73.554764  20.25865
  49.2597    87.354473  92.554039  20.05267   94.355703  19.15638
 106.57397  111.057107  80.72193   94.656079  83.354065  43.852751
  35.0553    23.5173    49.052265 104.057262  86.46172   64.251024
  24.951288  53.7521    54.951916  69.854003  20.05679   98.652537
  91.651301  21.021     67.452731  90.655931  26.01776   20.9454
  76.076     20.45943   86.33266   20.45357   59.62754   85.43297
 104.46405   69.15235  103.852215  34.21782   70.24481   90.556404
  91.34965   93.353092  38.5528    69.13168   74.15031   79.852001
  24.41413   19.85      80.15385   93.81261   64.45472   60.153077
 100.85474  101.055594  64.2475    59.754265  19.6397    19.6125
  20.61286   60.34109   75.5438    64.7941    95.71184   93.22931
  75.15525  104.652964  45.045     77.953384 100.05348   90.055817
 115.058405  77.51625   25.4313    79.7165    74.074     24.8562
  43.25219   95.356382  90.44063   25.651388  20.6754    25.025
 100.27209   79.3257    65.84068   20.6926    59.951406 100.151415
  70.552419  81.0575    25.01753   83.2113    94.094    100.256689
  70.81207   53.75608   25.1171   101.44528   60.63297   24.71519
 100.5514    20.15826   70.3144    99.45025   19.35307   48.55501
  19.2239    74.1228    60.04264   54.11373   19.85916   80.451072
  99.556668]

In [33]:
# 1. Convertir valores textuales 'Sí' y 'No' en valores binarios (1 y 0)
cols_binarias = ['Churn', 'Partner', 'Dependents', 'PhoneService', 
                 'PaperlessBilling']

for col in cols_binarias:
    df[col] = df[col].map({'Sí': 1, 'No': 0})

# 2. Normalizar valores como 'Male' / 'Female' o traducir al español si es necesario
df['gender'] = df['gender'].map({'Male': 'Masculino', 'Female': 'Femenino'})

# 3. Renombrar columnas para mayor claridad (si se requiere traducir a español)
df = df.rename(columns={
    'gender': 'Genero',
    'SeniorCitizen': 'Mayor_65',
    'Partner': 'Tiene_Pareja',
    'Dependents': 'Tiene_Dependientes',
    'tenure': 'Meses_Contrato',
    'PhoneService': 'Servicio_Telefono',
    'MultipleLines': 'Lineas_Multiples',
    'InternetService': 'Servicio_Internet',
    'OnlineSecurity': 'Seguridad_En_Linea',
    'OnlineBackup': 'Respaldo_En_Linea',
    'DeviceProtection': 'Proteccion_Dispositivo',
    'TechSupport': 'Soporte_Tecnico',
    'StreamingTV': 'Television_Streaming',
    'StreamingMovies': 'Peliculas_Streaming',
    'Contract': 'Tipo_Contrato',
    'PaperlessBilling': 'Factura_Electronica',
    'PaymentMethod': 'Metodo_Pago',
    'Charges': 'Cargos_Mensuales',
    'Cuentas_Diarias': 'Cargos_Diarios'
})

# 4. Verificamos el resultado
print(df.head())

     customerID  Churn     Genero  Mayor_65  Tiene_Pareja  Tiene_Dependientes  \
40   0064-YIJGF    0.0  Masculino         0           NaN                 NaN
44   0074-HDKDG    0.0  Masculino         0           NaN                 NaN
48   0080-OROZO    0.0   Femenino         0           0.0                 0.0
80   0128-MKWSG    0.0   Femenino         0           0.0                 NaN
104  0178-CIIKR    0.0   Femenino         0           0.0                 0.0

     Meses_Contrato  Servicio_Telefono  Lineas_Multiples Servicio_Internet  \
40               27                NaN               Yes       Fiber optic
44               25                NaN                No               DSL
48               35                NaN                No       Fiber optic
80               26                0.0  No phone service               DSL
104               3                NaN                No                No

     ...    Respaldo_En_Linea Proteccion_Dispositivo      Soporte_Tecnico  \
40   ...                   No                     No                   No
44   ...                  Yes                    Yes                   No
48   ...                   No                    Yes                  Yes
80   ...                   No                     No                  Yes
104  ...  No internet service    No internet service  No internet service

    Television_Streaming  Peliculas_Streaming   Tipo_Contrato  \
40                    No                   No  Month-to-month
44                    No                   No        One year
48                   Yes                  Yes        One year
80                    No                  Yes  Month-to-month
104  No internet service  No internet service  Month-to-month

    Factura_Electronica                Metodo_Pago Cargos_Mensuales  \
40                  NaN  Bank transfer (automatic)        75.751929
44                  NaN  Bank transfer (automatic)        61.616110
48                  NaN           Electronic check        99.253532
80                  0.0               Mailed check        45.811470
104                 0.0               Mailed check        19.955800

     Cargos_Diarios
40         2.525064
44         2.053870
48         3.308451
80         1.527049
104        0.665193

[5 rows x 21 columns]

#📊 Carga y análisis

#📄Informe final